* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

div {
    padding: 10px;
}

fieldset {
    margin: 20px;
}

fieldset > legend {
    margin-left: 30px;
}

label {
    width: 100%;
    display: block;
}

input[type="text"], input[type="password"], input[type="number"], input[type="file"], textarea, select {
    width: 100%;
    height: 2em;
    flex: 0 0 100%;
    display: block;
}

input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.navbar {
    overflow: hidden;
    background-color: cornflowerblue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #4377D1;
    border-radius: 4px;
}

.navbar span {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

.main {
    margin-top: 80px; /* Add a top margin to avoid content overlay */
}

#login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login form {
    margin: 20px;
    padding: 20px;
    width: 300px;
}

#login fieldset {
    margin: 20px;
    color: white;
    background-color: cornflowerblue;
}

#login input[type="submit"] {
    width: 100%;
    height: 2em;
    flex: 0 0 100%;
}

.visible {
    display: block;
    color: red;
    font-weight: bold;
}

.invisible {
    display: none;
}

#product-container img {
    float: left;
}

#product-container p {
    margin-left: 670px;
    padding: 10px;
}

#product-container .product {
    font-family: Cambria sans-serif;
    font-size: 1.5em;
}

#product-container .title {
    font-weight: bold;
    font-size: 2.5em;
}

.price {
    font-style: italic;
}

.button {
    display: inline-block;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #6697ea;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.center-50 {
    width: 50%;
    margin: 0 auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart {
    padding-top: 20px;
}

#cart table {
    border-collapse: collapse;
}

#cart th, td {
    text-align: left;
    padding: 8px;
}

#cart tr:nth-child(even) {
    background-color: #f2f2f2
}

#cart p {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

th {
    background-color: cornflowerblue;
    color: white;
}

.no-border {
    border: none;
}

.column-33 {
    width:33.33333333%;
    float:left;
    padding-bottom: 10px;
}

.clear {
    clear: both;
}

.paging-button {
    display: inline-block;
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: #6697ea;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
}

input[type="button"]:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* JQuery UI Dialog */
.ui-dialog > .ui-widget-header {
    background-color: cornflowerblue;
}

.ui-dialog-titlebar .ui-dialog-title {
    color: white;
}

.product textarea {
    height: 100px;
}

.product img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#spinner img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.buttonDetails, .removeButton {
    border: 0px;
    background-color: #f2f2f2;
    text-decoration: underline;
}

#product-paging {
    width: 100%;
    text-align: center;
}